[Desktop Entry]
Name=LBX Tool
GenericName=Lbx File Editor
Comment=Extract and Edit Lbx Files
Exec=lbx-tool %f
Icon=lbx-tool
Terminal=false
Type=Application
Categories=Utility;
MimeType=application/lbx;
Keywords=Games;